/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET  */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted black;
    width: 80%;
}

/* Header  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    min-height: 30px;
}

header > div{
    margin: 10px;
}

.main-upper {
    height: 20px;
    background-color: orange;
}

.upper-left {
    text-align: left;
    width: 20%;
    border-right: 2px dotted black;
}

.upper-center {
    width: 60%;
    text-align: center;
}

.upper-right {
    width: 20%;
    border-left: 2px dotted black;
    text-align: right;
}
/* Header  */

/* main  */

main{

}

/* main  */

/* <!-- first main container  --> */
.im-blue{
    background-color: blue;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-pink{
    background-color: violet;
    height: 80%;
    width: 65%;
}
/* <!-- first main container  --> */

/* <!-- second main container  --> */
.white{
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.blue{
    background-color: blue;
    width: 60%;
    height: 150px;
}

.pink{
    background-color: pink;
    width: 40%;
    height: 150px;
}

.border-right{
    border-right: 2px dotted black;
}
/* <!-- second main container  --> */
